$background: #ffffff;
$primary-color: #286cff;
$secondary-color: #0db469;
$inactive: #767676;
$light-gray: ghostwhite;

.appbar{
    background: $background !important;
    padding: 0px 30px;

    @media only screen and ( max-width: 800px ) {
      padding: 0px;
    }

}
.nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin navlink {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 5px;
  &:hover {
    color:  black;
    background-color: rgba(0, 0, 0, 0.04);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
}

.inactive-link {
  @include navlink();
  color: $inactive;
}
.active-link {
  font-weight: 600;
  @include navlink();
  color:  black;
}
.drawer{
  padding: 30px;
  width: 300px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .text{
    margin: 20px;
    font-weight: 600;
  }
  .drawer-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// footer 
.footer-container{
  background-color: $light-gray;
  height: 40vh;
}