.cards {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-bottom: 40px;
}
.listicon {
  color: rgba(0, 0, 0, 0.54);
  display: inline-flex;
  min-width: 20px !important;
  flex-shrink: 0;
  background: #0db46961;
  padding: 10px;
  border-radius: 50%;
  margin-right: 25px;
}
.campaign-list {
  margin-bottom: 2em;
}
@mixin status {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 5px;
  border-radius: 5px;
}
.status_rejected {
  @include status();
  background-color: #ce11260d;
}
.status_approved {
  @include status();
  background-color: #c5ffc3;
}
.in_review {
  @include status();
  background-color: #e4e8ff;
}
.search-paper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}