.campaign-input {
  padding: 10px;
  nav {
    margin: 15px 0px 20px;
  }
  @mixin textarea {
    font-family: Inter, "Inter UI", Helvetica, Arial, sans-serif;
    &::placeholder {
      color: #b6b4b4;
    }
  }
  .cmpName {
    font-size: 2rem;
    font-weight: 600;
    @include textarea();
  }
  .cmp-description {
    font-size: 18px;
    @include textarea();
  }
}
.message {
  padding: 20px;
}
.cloudinary-images {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

  .image_container {
    padding: 5px;
    min-height: 80px;
    min-width: 80px;
    display: grid;
    box-shadow: 1px 1px 5px #0000001f !important;
    margin: 10px;
    cursor: pointer;
    place-items: center;
    position: relative;
    img {
      width: 100%;
    }
    .icon {
      position: absolute;
      top: -8px;
      right: -8px;
      width: 20px;
      height: 20px;
    }
  }
}
.campaign_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;

  button {
    margin: 0px 10px;
  }
}
.name_preview {
  overflow-wrap: anywhere;
}
.section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 10px;
}
.heading {
  margin-bottom: 0;
}
.verified {
  font-size: 11px;
  color: green;
  display: flex;
  align-items: center;
  margin: 5px 0px;
}
