.number-input {
  outline: none;
  padding: 10px;
  margin: 0;
  border: 1px solid #c4c4c4;
  background: #fff;
  color: rgba(3,27,78,.7);
  &:focus {
    outline: none;
    box-shadow: 0px 0px 2px #ff9800;
  }
}